.parent{
   padding: 10px;
    background-color: rgb(25, 0, 255);
display: flex;
gap: 20px;
justify-content:space-around;
}
.child{
    border: 2px solid rgb(4, 47, 48);
    background: rgb(33, 126, 160) ;
    padding: 5px;
    font-size: 10px;
    
    
}